<h1>Add Show Details</h1>

<% if @valid_input == true && @duplicate == true%>
  <h2>That show has already been added</h2>
<% elsif @valid_input == false %>
  <h2>Please fill in all required fields</h2>
<% end %>

<form action="/television_shows/new" method="post">
  <label for="Title">Title</label>
  <input type="text" name="title" id="Title">

  <label for="Network">Network</label>
  <input type="text" name="network" id="Network">

  <label for="Starting Year">Starting Year</label>
  <input type="text" name="starting_year" id="Starting Year">

  <label for="synopsis">Synopsis</label>
  <input type="text" name="synopsis" id="synopsis">

  <label for="Genre">Genre</label>
  <select name="Genre">
    <option value="action">Action</option>
    <option value="mystery">Mystery</option>
    <option value="drama">Drama</option>
    <option value="comedy">Comedy</option>
    <option value="fantasy">Fantasy</option>
  </select>

  <input type="submit" value="Add TV Show!">
</form>
